# used in tandem with package.json engines section to only use yarn
engine-strict=true
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
node-linker=hoisted
legacy-peer-deps=true
prefer-frozen-lockfile=false

# Network settings
network-timeout=300000
fetch-retries=10
fetch-retry-mintimeout=60000
fetch-retry-maxtimeout=300000

# Cache settings
prefer-offline=true
verify-store-integrity=false

